/*Welcome Page*/
.welcome{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-size: cover;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 200px;
    padding-bottom: 200px;
    color:midnightblue;
    font-weight: bolder;
}



/*Home page*/
.first{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
}
.pic1{
    height: 100px;
    width: 150px;
    padding: 5px;
}
.dropdown{
    padding-top: 8px;
}
.nav{
    height: 10px;
}
.carousel-inner{
    height: 800px;
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 150px;
    padding-bottom: 50px;
}
.carousel-item img {
    object-position: center;
    height: 100vh;
    overflow: hidden;
  }




  /* Grocery */
.groc{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
}
.lay{
    background-image: url("https://img.freepik.com/premium-photo/shopping-basket-full-food-groceries-table-supermarket_8087-1865.jpg?w=826");
    background-size:contain;
    height: 95vh;
}.headfirst{
    padding-bottom: 40px;
    color:darkgreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 40px;
}

.imageres{
    height: 75px;
    width: 100px;
}

.card{

    background-color:darkgreen;
    width: 180px;
    border-radius: 20px;
    padding: 10px;
    height: 180px;
    align-items: center;
    text-align: center;
    margin: 15px;
}
.heading{
    color:white;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.paragraph{
    font-weight: bolder;
}
.mar{
    background-color:transparent;
    background-repeat: no-repeat;
    background-size: cover;
    color:#03203C;
    font-weight:bolder;
}




/*Fruit*/

.fruit{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.fruitlay{
    background-image: url("https://img.freepik.com/free-vector/fruit-vegetables-hand-drawn-design_23-2148500968.jpg?w=740&t=st=1671614596~exp=1671615196~hmac=19a9e383c159b3b824de82a20bcc2385afac6f35d4a32a686aa04532625d5a46");
    background-repeat: no-repeat;
    background-size: cover;
    height: 170vh;

}
.fruitimage{
    height: 75px;
    width: 100px;

}

.fruitcard{
    background-color:darkgreen;
    width: 180px;
    border-radius: 20px;
    padding: 10px;
    height: 260px;
    text-align: center;

    margin: 15px;
}
.fruitheading{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}
.fruitpara{
    font-weight: bolder;
}
.berry{
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
    padding-left: 50px;
    color:darkgreen;
}
.ber{
    color:white;
    background-image: url("https://img.freepik.com/free-photo/mixed-berries_1147-49.jpg?1&w=740&t=st=1671622633~exp=1671623233~hmac=c592ed1e025c9fb7389912621350f7c42434f996bc3310fed413588a31813b52");
}
.fru{
    background-image: url("https://img.freepik.com/free-photo/top-view-fresh-fruits-different-ripe-mellow-fruits-white-background-berry-diet-photo-tasty-health_140725-98614.jpg?t=st=1671601769~exp=1671602369~hmac=41c7ea53619a9d18589a5881f17a3e2f716bff2c4af5edff2c7b07a6315f189e");
    background-position:left;
    color: white;
}
.frui{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;

}




/*Veg*/

.Vegetable{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.veglay{
    background-image: url("https://img.freepik.com/free-vector/vegetables-fruit-background_23-2148485147.jpg?w=740&t=st=1671707721~exp=1671708321~hmac=18d840177b7f29c1a5e92237fadea41e7031f0391e4447e0663f0b64b617c0f4");
    background-repeat: no-repeat;
    background-size: cover;
    height: 160vh;

}
.vegcard{
    background-color:darkgreen;
    width: 180px;
    border-radius: 20px;
    padding: 10px;
    height: 280px;
    text-align: center;

    margin: 15px;
}
.vegpara{
    font-weight: bolder;
}
.leaf{
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 50px;
    color:darkgreen;
}
.leafy{
    color:white;
    background-image: url("https://img.freepik.com/free-photo/green-slate_1205-377.jpg?1&w=740&t=st=1671707421~exp=1671708021~hmac=8066b29b56fc9f3e6722ce9ff06d0adcdd9b08c78b2fd495f1f54234b70edf16");
}





/*Spices*/
.spicelay{
    background-image: url("https://img.freepik.com/free-vector/spices-herbs-realistic-frame-background-with-mint-garlic-cinnamon_1284-56625.jpg?w=740&t=st=1671731925~exp=1671732525~hmac=aaace1359894bf18e09a7563c478da03d1220a47fb8047039a662c08c5173fdf");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/*Oils*/
.oillay{
    background-image: url("https://img.freepik.com/free-vector/vector-realistic-yellow-oil-with-air-bubbles_107791-2123.jpg?w=996&t=st=1671719238~exp=1671719838~hmac=cd94bd34d4cc91077f93964b8578c332e9422b69d96628340749b2b8e39a3f0f");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
}


/*Snacks*/
.snacklay{
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/46/40/20/1000_F_246402069_oMMCGrlhO1h3N1igea3QKbJigQbp7Fkm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
}


/*Soft Drinks*/
.drinklay{
    background-image: url("https://img.freepik.com/free-vector/blue-abstract-background_1053-552.jpg?w=740&t=st=1671725394~exp=1671725994~hmac=8f0f812ed6b48055beb45b8e53531cd7930ba301354644206e24e5931b3fc31d");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
}


/*Personal Care*/
.carelay{
    background-image: url("https://img.freepik.com/free-photo/top-view-organic-cosmetic-products_23-2148317616.jpg?w=740&t=st=1671726236~exp=1671726836~hmac=38ba26e29aaeb95cad5d0e74fbcdc24201304c5d90da31cdcab754c4e59ed83d");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
}


/*Dairy products*/
.milklay{
    background-image: url("https://img.freepik.com/premium-vector/swirling-mellow-milk-effect-3d-illustration-blue-background_317442-792.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
}



/*Dals and More*/
.dallay{
    background-image: url("https://img.freepik.com/premium-photo/various-legumes-eco-bag_147689-158.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
}



  /* Women */
.women{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
}
.womenlay{
    background-image: url("https://img.freepik.com/free-vector/blue-silk-draped-fabric-background-textile-frame_33099-1763.jpg?w=900&t=st=1671810017~exp=1671810617~hmac=d5a47dd50cb94cc6be1bf328ebd8c3566924e73ae30492f08c2cac8ca67402e3");
    background-size:contain;
    height:190vh;
}
.womenheadfirst{
    padding-bottom: 40px;
    color:purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 40px;
}

.womenimageres{
    height: 200px;
    width: 200px;
}

.womencard{
    background-color:purple;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    height: 300px;
    align-items: center;
    text-align: center;
    margin: 15px;
}
.womenheading{
    color:white;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.womenparagraph{
    font-weight: bolder;
}



/* Ethnic */
.ethnic{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
}
.ethniclay{
    background-image: url("https://img.freepik.com/premium-photo/watercolor-dark-purple-wine-color-background-texture_145343-216.jpg?w=740");
    background-size:contain;
    height:210vh;

}
.ethniccard{
    display: flex;
    background-color:white;
    width: 500px;
    border-radius: 20px;
    padding: 10px;
    height: 260px;
    text-align: center;
    margin: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
    column-gap: 5px;
}
.ethnicimage{
    height: 200px;
    width: 200px;
}
.ethnicheadfirst{
    padding-bottom: 40px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 40px;
    padding-left: 150px;
}
.ethnicheading{
    color:purple;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.ethnicp{
    font-weight: bolder;
    text-align: center;
}
.ethnicpara{
    font-weight: bolder;
    align-items: center;
}


/*Western wear*/
.westlay{
    background-image: url("https://img.freepik.com/premium-photo/watercolor-dark-purple-wine-color-background-texture_145343-216.jpg?w=740");
    background-size:contain;
    height:215vh;
}

/*Watches*/
.watchlay{
    background-image: url("https://img.freepik.com/premium-photo/watercolor-dark-purple-wine-color-background-texture_145343-216.jpg?w=740");
    background-size:contain;
    height:116vh;
}



  /* Men */
.Men{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
}
.menlay{
    background-image: url("https://img.freepik.com/free-vector/blue-silk-draped-fabric-background-textile-frame_33099-1763.jpg?w=900&t=st=1671810017~exp=1671810617~hmac=d5a47dd50cb94cc6be1bf328ebd8c3566924e73ae30492f08c2cac8ca67402e3");
    background-size:contain;
    height:185vh;
}
.menheadfirst{
    padding-bottom: 40px;
    color:purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 40px;
}

.menimageres{
    height: 200px;
    width: 200px;
}

.mencard{
    background-color:purple;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    height: 300px;
    align-items: center;
    text-align: center;
    margin: 15px;
}
.menheading{
    color:white;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.menparagraph{
    font-weight: bolder;
}

/*Kids*/
.kidslay{
    background-image: url("https://img.freepik.com/free-vector/blue-silk-draped-fabric-background-textile-frame_33099-1763.jpg?w=900&t=st=1671810017~exp=1671810617~hmac=d5a47dd50cb94cc6be1bf328ebd8c3566924e73ae30492f08c2cac8ca67402e3");
    background-size:contain;
    height:125vh;
}

/*Kids footwear */
.kidsfootlay{
    background-image: url("https://img.freepik.com/premium-photo/watercolor-dark-purple-wine-color-background-texture_145343-216.jpg?w=740");
    background-size:contain;
    height:125vh;
}


/* Home Needs */

.homeimageres{
    height: 200px;
    width: 200px;
}

.homecard{
    background-color:purple;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    height: 300px;
    align-items: center;
    text-align: center;
    margin: 15px;
}
.homeheading{
    color:white;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.homeparagraph{
    font-weight: bolder;
}


/* Bed sheets*/
.bedlay{
    background-image: url("https://img.freepik.com/premium-photo/watercolor-dark-purple-wine-color-background-texture_145343-216.jpg?w=740");
    background-size:contain;
    height:115vh;
}

/*Cart*/
.cart{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-size:contain;
    height:2500vh;
}
.cartlay{
     font-family: 'Times New Roman', Times, serif;
     font-size: 30px;
     color: darkgreen;
     padding-left: 30px;
     padding-bottom: 30px;
}

/*contact us*/
.container{
    background-image: url("https://img.freepik.com/free-vector/flat-geometric-shapes-background_52683-62851.jpg?w=740&t=st=1674296180~exp=1674296780~hmac=664d850c8a40df2768ad0464b7fffbc4f9eb9b66019eeb116ecbc9362980e40d");
    background-size:cover;
    text-align:center;
    height:100vh;
    padding-bottom:10px;
}

.mapmatter{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}

/*Orders*/
.order{
    background-image: url("https://img.freepik.com/premium-photo/abstract-multi-color-powder-explosion-white-background-freeze-motion-dust-particles-splash_36326-3453.jpg?w=740");
    background-size:contain;
    height:2500vh;
}

.orders{
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}