<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boys Clothing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='/starting.css')}}">  
</head>
<body>
    <div class="ethnic">
         <!--Nav Bar-->
         <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('homepage')}}"><img src="https://cdn.shopify.com/app-store/listing_images/f9b5dcbc1507320fe2b951c142bbc83c/icon/CISuhaj0lu8CEAE=.png" class="pic1"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('homepage')}}"><button class="btn btn-outline-success">Home</button></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('grocery')}}"><button class="btn btn-outline-success">Grocery</button></a>
                </li>

                <!--Dropdown-->
                <div class="dropdown">
                  <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{url_for('women')}}">Women</a></li>
                    <li><a class="dropdown-item" href="{{url_for('men')}}">Men</a></li>
                    <li><a class="dropdown-item" href="{{url_for('kids')}}">Kids</a></li>
                    <li><a class="dropdown-item" href="{{url_for('house')}}">Home Needs</a></li>
                  </ul>
                </div>
                
                <li class="nav-item" >
                  <a class="nav-link" href="{{url_for('view')}}"><button class="btn btn-outline-success">&#128722 Cart</button></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('welcome')}}"><button class="btn btn-danger">Log Out</button></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!--layout-->
        <div class="watchlay"> 
          <h1 style="text-align: center;color: white;font-family: 'Times New Roman', Times, serif;padding-top: 20px;">Dressing is a way of life</h1>
          <div class="d-flex flex-row justify-content-center">
              <div class="ethniccard">
                  <img src="https://www.okboss.co.in/assets/img/home/boysrow1/kids%20musterd%20jacket%20with%20white%20tshirt%20party%20wear%20dress.jpg" class="ethnicimage" alt="">
                  <h1 class="ethnicheading">LATEST THREE PIECE SET<br>₹2,999</h1>
                  <p class="ethnicpara"><button class="btn btn-warning">BUY NOW</button></p>
                  <a href="{{url_for('cart',name='LATEST THREE PIECE SET',q=1,price=2999)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="ethniccard">
                <img src="https://i.pinimg.com/originals/67/44/c5/6744c52c25d08dba06a4d632d9224bbe.jpg" class="ethnicimage" alt="">
                <h1 class="ethnicheading">PARTY WEAR SUIT SET<br>₹4,999</h1>
                <p class="ethnicpara"><button class="btn btn-warning">BUY NOW</button></p>
                <a href="{{url_for('cart',name='PARTY WEAR SUIT SET',q=1,price=4999)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="ethniccard">
                <img src="https://assets0.mirraw.com/images/10456204/S-121_Cream_1_large_m.jpg?1655462131" class="ethnicimage" alt="">
                <h1 class="ethnicheading">KURTA PAJAMA SET<br>₹999</h1>
                <p class="ethnicpara"><button class="btn btn-warning">BUY NOW</button></p>
                <a href="{{url_for('cart',name='KURTA PAJAMA SET',q=1,price=999)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div></div>
              <div class="d-flex flex-row justify-content-center">
              <div class="ethniccard">
                <img src="https://m.media-amazon.com/images/I/710KRr+Q0kL._UL1500_.jpg" class="ethnicimage" alt="">
                <h1 class="ethnicheading">JEANS AND SHIRT SET<br>₹1,999</h1>
                <p class="ethnicpara"><button class="btn btn-warning">BUY NOW</button></p>
                <a href="{{url_for('cart',name='JEANS AND SHIRT SET',q=1,price=1999)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="ethniccard">
                <img src="https://assets0.mirraw.com/images/6416704/637-BLUE-A_large_m.jpg?1537027985" class="ethnicimage" alt="">
                <h1 class="ethnicheading">BLUE SUIT WITH KURTA PAJAMA<br>₹2,999</h1>
                <p class="ethnicpara"><button class="btn btn-warning">BUY NOW</button></p>
                <a href="{{url_for('cart',name='BLUE SUIT WITH KURTA PAJAMA',q=1,price=2999)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="ethniccard">
                <img src="https://m.media-amazon.com/images/I/61KMEEul2eL._UL1500_.jpg" class="ethnicimage" alt="">
                <h1 class="ethnicheading">COMFY NIGHT WEAR<br>₹599</h1>
                <p class="ethnicpara"><button class="btn btn-warning">BUY NOW</button></p>
                <a href="{{url_for('cart',name='COMFY NIGHT WEAR',q=1,price=599)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
            </div>
              
              
              <a href="{{url_for('kids')}}"><button class="btn btn-warning">Previous</button></a>
              
              
          </div>
          
      </div>
      
    </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>