<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='/starting.css')}}">
</head>
<body>
    <div class="Vegetable">
         <!--Nav Bar-->
         <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('homepage')}}"><img src="https://cdn.shopify.com/app-store/listing_images/f9b5dcbc1507320fe2b951c142bbc83c/icon/CISuhaj0lu8CEAE=.png" class="pic1"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('homepage')}}"><button class="btn btn-outline-success">Home</button></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('grocery')}}"><button class="btn btn-outline-success">Grocery</button></a>
                </li>

                <!--Dropdown-->
                <div class="dropdown">
                  <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{url_for('women')}}">Women</a></li>
                    <li><a class="dropdown-item" href="{{url_for('men')}}">Men</a></li>
                    <li><a class="dropdown-item" href="{{url_for('kids')}}">Kids</a></li>
                    <li><a class="dropdown-item" href="{{url_for('house')}}">Home Needs</a></li>
                  </ul>
                </div>

                <li class="nav-item" >
                  <a class="nav-link" href="{{url_for('view')}}"><button class="btn btn-outline-success">&#128722 Cart</button></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('welcome')}}"><button class="btn btn-danger">Log Out</button></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!--layout-->
        <div class="milklay">
          <div class="d-flex flex-row justify-content-center">
              <div class="vegcard">
                  <img src="https://downshiftology.com/wp-content/uploads/2022/10/Almond-Milk-Recipe-22-8.jpg" class="fruitimage" alt="">
                  <h1 class="fruitheading">MILK</h1>
                  <p class="frui"><i>₹50 / 1L</i></p>
                  <p class="vegpara"><a href="{{url_for('pay',name='MILK',q=1,price=50)}}"><button class="btn btn-warning">BUY NOW</button></a.</p>
                  <a href="{{url_for('cart',name='MILK',q=1,price=50)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                <img src="https://www.errenskitchen.com/wp-content/uploads/2018/07/Untitled-design-35.jpg" class="fruitimage" alt="">
                <h1 class="fruitheading">CREAM</h1>
                <p class="frui"><i>₹50 / 200ml</i></p>
                <p class="vegpara"><a href="{{url_for('pay',name='CREAM',q=200,price=50)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                <a href="{{url_for('cart',name='CREAM',q=200,price=50)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                <img src="https://img3.exportersindia.com/product_images/bc-full/2021/10/9489169/soya-panner-tofu-panner-soya-milk-masala-1634825795-6046558.png" class="fruitimage" alt="">
                <h1 class="fruitheading">PANEER</h1>
                <p class="frui"><i>₹150 / 1kg</i></p>
                <p class="vegpara"><a href="{{url_for('pay',name='PANEER',q=1,price=150)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                <a href="{{url_for('cart',name='PANEER',q=1,price=150)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                <img src="https://www.daringgourmet.com/wp-content/uploads/2021/01/How-to-Make-Yogurt-7.jpg" class="fruitimage" alt="">
                <h1 class="fruitheading">YOGURT</h1>
                <p class="frui"><i>₹120 / 1kg</i></p>
                <p class="vegpara"><a href="{{url_for('pay',name='YOGURT',q=1,price=120)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                <a href="{{url_for('cart',name='YOGURT',q=1,price=120)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                  <img src="https://images-prod.healthline.com/hlcmsresource/images/AN_images/healthiest-cheese-1296x728-swiss.jpg" class="fruitimage" >
                  <h1 class="fruitheading">CHEESE</h1>
                  <p class="frui"><i>₹160 / 200g</i></p>
                  <p class="vegpara"><a href="{{url_for('pay',name='CHEESE',q=200,price=160)}}"><button class="btn btn-warning">BUY NOW</button</a></p>
                  <a href="{{url_for('cart',name='CHEESE',q=200,price=160)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                  <img src="https://www.spendwithpennies.com/wp-content/uploads/2022/04/Vanilla-Custard-SpendWithPennies-10.jpg"class="fruitimage" alt="">
                  <h1 class="fruitheading">CUSTARD</h1>
                  <p class="frui"><i>₹40 / 100g</i></p>
                  <p class="vegpara"><a href="{{url_for('pay',name='CUSTARD',q=100,price=40)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                  <a href="{{url_for('cart',name='CUSTARD',q=100,price=40)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div></div>
              <div class="d-flex flex-row justify-content-center">
              <div class="vegcard">
                  <img src="https://cpimg.tistatic.com/06234519/b/4/Full-Cream-Milk-Powder-Skimmed-Milk-best-Price-Sweet-Whey-Powder.jpg"class="fruitimage" alt="">
                  <h1 class="fruitheading">MILK POWDER</h1>
                  <p class="frui"><i>₹570 / 1kg</i></p>
                  <p class="vegpara"><a href="{{url_for('pay',name='MILK POWDER',q=1,price=570)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                  <a href="{{url_for('cart',name='MILK POWDER',q=1,price=570)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                <img src="https://www.cookwithmanali.com/wp-content/uploads/2017/06/Masala-Chaas-Recipe.jpg"class="fruitimage" alt="">
                <h1 class="fruitheading">BUTTER MILK</h1>
                <p class="frui"><i>₹20 / 200ml</i></p>
                <p class="vegpara"><a href="{{url_for('pay',name='BUTTER MILK',q=200,price=20)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                <a href="{{url_for('cart',name='BUTTER MILK',q=200,price=20)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                <img src="https://loveandflourbypooja.com/wp-content/uploads/2020/05/Make-Your-Own-Whipped-Cream-at-Home-500x500.jpg"class="fruitimage" alt="">
                <h1 class="fruitheading">WIPPED CREAM</h1>
                <p class="frui"><i>₹80 / 250ml</i></p>
                <p class="vegpara"><a href="{{url_for('pay',name='WIPPED CREAM',q=250,price=80)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                <a href="{{url_for('cart',name='WIPPED CREAM',q=250,price=80)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                <img src="https://tastesbetterfromscratch.com/wp-content/uploads/2020/03/Bread-Recipe-5-2.jpg"class="fruitimage" alt="">
                <h1 class="fruitheading">BREAD</h1>
                <p class="frui"><i>₹40 / 1packet </i></p>
                <p class="vegpara"><a href="{{url_for('pay',name='BREAD',q=1,price=40)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                <a href="{{url_for('cart',name='BREAD',q=1,price=40)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                  <img src="https://media.istockphoto.com/id/948032164/photo/ice-cream.jpg?s=612x612&w=0&k=20&c=EWy8rEsWVuv67-DWH0a-rAlI7GSy1FAU237yg1TwFKg="class="fruitimage" alt="">
                  <h1 class="fruitheading">VANILLA ICE-CREAM</h1>
                  <p class="frui"><i>₹120 / 1kg</i></p>
                  <p class="vegpara"><a href="{{url_for('pay',name='VANILLA ICE-CREAM',q=340,price=350)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                  <a href="{{url_for('cart',name='VANILLA ICE-CREAM',q=340,price=350)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              <div class="vegcard">
                  <img src="https://4sonrus.com/wp-content/uploads/2013/09/DSC_6062-scaled.jpg" class="fruitimage" alt="">
                  <h1 class="fruitheading">CONDENSED MILK</h1>
                  <p class="frui"><i>₹140 / 380g</i></p>
                  <p class="vegpara"><a href="{{url_for('pay',name='CONDENSED MILK',q=380,price=140)}}"><button class="btn btn-warning">BUY NOW</button></a></p>
                  <a href="{{url_for('cart',name='CONDENSED MILK',q=380,price=140)}}"><p class="fruitpara"><button class="btn btn-warning">Add to cart &#128722</button></p></a>
              </div>
              </div>
              <a href="{{url_for('grocery')}}"><button class="btn btn-success">Previous</button></a>


          </div>

      </div>

    </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>